body {
    background-color: lightgrey;
    min-height: 1300px;
    min-width: 800px;
}

#bugsBunny {
    background-color: lightcoral;
    height: 150px;
    width: 250px;
    /*Let this be high to ensure the box can always be seen*/
    z-index: 9000;
    overflow: hidden;
    font-size: 0.9em;
    font-family: Verdana;
    padding: 0 1em;
    opacity: 0.8;
}

#handle {
  background-color: darkgrey;
  cursor: move;
  margin: 1em auto;
  padding: 0.3em 1em;
  width: 3.5em;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}